
@{
    ViewBag.Title = "AccessDenied";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="jumbotron">
            <h1 class="display-4 text-danger">Yetkisiz Erişim</h1>
            <p class="lead"><i class="fas fa-snowplow fa-5x"></i>Bu sayfaya erişiminiz bulunmamaktadır.</p>
            <hr class="my-4">
            <p>Lütfen login olun.</p>
            <a class="btn btn-primary btn-lg" href="/Home/Index" role="button">Anasayfa</a>
        </div>
    </div>
</div>
